// Version:1.0.0
$color-pt-royal: #0A449F;
$color-pt-navy: #122846;
$color-highlight-yellow: #FCBE32;
$color-pt-white: #FFFFFF;
$color-ui-grey-0: #F8F8F8;
$color-ui-grey-10: #EFEFEF;
$color-ui-grey-30: #DCDCDC;
$color-ui-grey-50: #9A9A9A;
$color-ui-grey-70: #757575;
$color-ui-grey-90: #616161;
$color-pt-black: #3A3A3A;
$color-alert-green: #24BF8E;
$color-alert-green-lt: #C6E2D9;
$color-alert-yellow: #F9DC5C;
$color-alert-yellow-lt: #FDF1BE;
$color-alert-red: #FE285B;
$color-alert-red-lt: #F4E2E8;
$color-alert-red-xlt: #FFF4F7;
$color-alert-orange: #FF9900;
$color-vp-green: #33CC33;
$color-vp-dark-green: #218521;
$color-vp-green-50: #8DDC83;
$color-vp-green-25: #C1EEBC;
$color-pt-blue: #3399FF;
$color-pt-blue-50: #8BC2FF;
$color-pt-blue-25: #C1DFFF;
$color-dash-purple: #654EA3;
$color-dash-purple-50: #A193C7;
$color-dash-purple-25: #CEC8E4;
$color-ec-orange: #FF9900;
$color-ec-orange-50: #FCC069;
$color-ec-orange-25: #FCDDB0;