:export {
  colorPtRoyal: $color-pt-royal;
  colorPtNavy: $color-pt-navy;
  colorHighlightYellow: $color-highlight-yellow;
  colorPtWhite: $color-pt-white;
  colorUiGrey0: $color-ui-grey-0;
  colorUiGrey10: $color-ui-grey-10;
  colorUiGrey30: $color-ui-grey-30;
  colorUiGrey50: $color-ui-grey-50;
  colorUiGrey70: $color-ui-grey-70;
  colorUiGrey90: $color-ui-grey-90;
  colorPtBlack: $color-pt-black;
  colorAlertGreen: $color-alert-green;
  colorAlertGreenLt: $color-alert-green-lt;
  colorAlertYellow: $color-alert-yellow;
  colorAlertYellowLt: $color-alert-yellow-lt;
  colorAlertRed: $color-alert-red;
  colorAlertRedLt: $color-alert-red-lt;
  colorAlertRedXlt: $color-alert-red-xlt;
  colorAlertOrange: $color-alert-orange;
  colorVpGreen: $color-vp-green;
  colorVpDarkGreen: $color-vp-dark-green;
  colorVpGreen50: $color-vp-green-50;
  colorVpGreen25: $color-vp-green-25;
  colorPtBlue: $color-pt-blue;
  colorPtBlue50: $color-pt-blue-50;
  colorPtBlue25: $color-pt-blue-25;
  colorDashPurple: $color-dash-purple;
  colorDashPurple50: $color-dash-purple-50;
  colorDashPurple25: $color-dash-purple-25;
  colorEcOrange: $color-ec-orange;
  colorEcOrange50: $color-ec-orange-50;
  colorEcOrange25: $color-ec-orange-25;
}